.display2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Titillium Web";
    transform: scale(1);
    color: aqua;
    height: 150px;
    width: 190px;
    border-radius: 10px;
    overflow: unset !important;
}


.display1Border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Titillium Web";
    height: 240px;
    width: 250px;
    clip-path: polygon(9% 0, 0 7%, 0 51%, 5% 57%, 5% 100%, 96% 100%, 100% 96%, 100% 0);
    transform: scale(1);
    background-color: aqua;
}


.display1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Titillium Web";
    font-size: 1rem;
    color: rgb(0, 0, 0);
    height: 238.5px;
    width: 248.5px;
    overflow: hidden;
    padding-left: 14px;
    clip-path: polygon(9% 0, 0 7%, 0 51%, 5% 57%, 5% 100%, 96% 100%, 100% 96%, 100% 0);
    background-color: black;
}

.projectTitle {
    font-size: 2em;
    color: aqua;
    text-align: center;
}



.projecContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}


.pagesBtn {
    text-decoration: none;
    background-color: aqua;
    width: 75px;
    height: 30px;
    font-family: "Titillium Web";
    transition: 300ms;
    margin: 2px;
    font-size: 1.15rem;
    border: 1px solid black;
}

.pagesBtn:hover {
    transition: 300ms;
    background-color: white;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.pagesBtn a {
    text-decoration: none;
    color: black;
}

.pagesBtn:hover a {
    color: black;
    cursor: pointer;
}


.displayBtn {
    background-color: black;
    width: 100px;
    height: 40px;
    color: white;
    font-family: "Titillium Web";
    transition: 300ms;
    border: 1px solid rgb(0, 206, 221);
    margin: 2px;
    font-size: 1.5rem;
}

.displayBtn:hover {
    transition: 300ms;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
}







/* Resposive */
.display1BResponsive {
    display: none;
}

.display1Responsive {
    display: none;
}



/* mobile: */
@media (min-width: 280px) and (max-width: 1000px) {
    .projectTitle {
        font-size: 45px;
        color: aqua;
        text-align: center;
    }

    .display1Border {
        display: none;
    }

    .display1 {
        display: none;
    }




    .display1BResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: scale(0.92);
        background-color: none;
    }

    .display1Responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: "Titillium Web";
        height: 205px;
        width: 500px;
        background-color: none;
        margin-bottom: 4vw;
    }

    .pagesBtn {
        width: 155px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        padding: 0.05em;
        font-size: 1.8rem;
        border: 1px solid black;
        color: black;
        margin: 0.15em;
        margin-top: 13vw;
    }

    .pagesBtn:hover {
        transition: 300ms;
        background-color: aqua;
        cursor: pointer;
        color: black;
    }

    .pagesBtn:hover a {
        color: black;
        cursor: pointer;
    }





    .displayBtn {
        background-color: black;
        width: 180px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        border: 1px solid rgb(0, 206, 221);
        margin: 0.15em;
        margin-top: 3vw;
        font-size: 2.2rem;
        text-align: center;
        color: white;
    }

    .displayBtn:hover {
        transition: 300ms;
        background-color: black;
        color: white;
        cursor: pointer;
    }

}




/* tablet: */
@media (min-width: 540px) and (max-width: 1023px) {
    .projectTitle {
        font-size: 45px;
        color: aqua;
        text-align: center;
    }

    .display1Border {
        display: none;
    }

    .display1 {
        display: none;
    }




    .display1BResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: scale(0.05);
        background-color: none;
        transform: scale(0.92);
    }

    .display1Responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: "Titillium Web";
        height: 205px;
        width: 500px;
        background-color: none;
        margin-bottom: 4vw;
    }

    .pagesBtn {
        width: 155px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        padding: 0.05em;
        font-size: 1.8rem;
        border: 1px solid black;
        color: black;
        margin: 0.15em;
        margin-top: 13vw;
    }

    .pagesBtn:hover {
        transition: 300ms;
        background-color: aqua;
        cursor: pointer;
        color: black;
    }

    .pagesBtn:hover a {
        color: none;
        cursor: pointer;
    }





    .displayBtn {
        background-color: black;
        width: 180px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        border: 1px solid rgb(0, 206, 221);
        margin: 0.15em;
        margin-top: 3vw;
        font-size: 2.2rem;
        text-align: center;
        color: white;
    }

    .displayBtn:hover {
        transition: 300ms;
        background-color: black;
        color: white;
        cursor: pointer;
    }

}




/* Small Screens: */
@media (min-width: 1024px) and (max-width: 1740px) {
    .projectTitle {
        font-size: 45px;
        color: aqua;
        text-align: center;
    }

    .display1Border {
        display: none;
    }

    .display1 {
        display: none;
    }




    .display1BResponsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        transform: scale(0.05);
        background-color: none;
        z-index: 1000;
        transform: scale(0.92);
    }

    .display1Responsive {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        font-family: "Titillium Web";
        height: 205px;
        width: 500px;
        background-color: none;
        margin-bottom: 0vw;
        z-index: 1000;
    }

    .pagesBtn {
        width: 155px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        padding: 0.05em;
        font-size: 1.8rem;
        border: 1px solid black;
        color: black;
        margin: 0.1em;
        margin-top: 3vw;
    }

    .pagesBtn:hover {
        transition: 300ms;
        background-color: aqua;
        cursor: pointer;
        color: black;
    }

    .pagesBtn:hover a {
        color: none;
        cursor: pointer;
    }





    .displayBtn {
        background-color: black;
        width: 180px;
        height: 55px;
        font-family: "Titillium Web";
        transition: 300ms;
        border: 1px solid rgb(0, 206, 221);
        margin: 0.1em;
        margin-top: 0.2vw;
        font-size: 2.2rem;
        text-align: center;
        color: white;
    }

    .displayBtn:hover {
        transition: 300ms;
        background-color: black;
        color: white;
        cursor: pointer;
    }

}