.ProjectTitle {
    font-size: 2rem;
    color: aqua;
    text-align: center;
}

.Display1Border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Titillium Web";
    height: 240px;
    width: 250px;
    clip-path: polygon(9% 0, 0 7%, 0 51%, 5% 57%, 5% 100%, 96% 100%, 100% 96%, 100% 0);
    transform: scale(0.05);
    background-color: aqua;
}


.Display1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Titillium Web";
    font-size: 1rem;
    color: rgb(0, 0, 0);
    height: 238.5px;
    width: 248.5px;
    overflow: hidden;
    padding-left: 14px;
    clip-path: polygon(9% 0, 0 7%, 0 51%, 5% 57%, 5% 100%, 96% 100%, 100% 96%, 100% 0);
    background-color: black;
}



.DisplayBtn {
    background-color: black;
    width: 100px;
    height: 40px;
    color: white;
    font-family: "Titillium Web";
    transition: 300ms;
    border: 1px solid rgb(0, 206, 221);
    margin: 2px;
    font-size: 1.5rem;
}

.DisplayBtn:hover {
    transition: 300ms;
    background-color: white;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.PagesBtn {
    text-decoration: none;
    background-color: aqua;
    width: 75px;
    height: 30px;
    font-family: "Titillium Web";
    transition: 300ms;
    margin: 2px;
    font-size: 1.15rem;
    border: 1px solid black;
}

.PagesBtn:hover {
    transition: 300ms;
    background-color: white;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.PagesBtn a {
    text-decoration: none;
    color: black;
}

.PagesBtn:hover a {
    color: black;
    cursor: pointer;
}

.Display2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Titillium Web";
    transform: scale(0.05);
    color: aqua;
    height: 150px;
    width: 190px;
    border-radius: 10px;
    overflow: hidden;
}




/* Resposive */

.Display1BResponsive {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Titillium Web";
    height: 240px;
    width: 250px;
    transform: scale(0.05);
    background-color: aqua;
}

.Display1Responsive {
    display: none;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Titillium Web";
    font-size: 1rem;
    height: 238.5px;
    width: 248.5px;
    background-color: black;
}



/* mobile: */
@media (orientation: portrait) and (min-width: 280px) and (max-width: 1000px) {
    .ProjectTitle {
        font-size: 3rem;
        color: aqua;
        text-align: center;
    }

    .Display1Border {
        display: none;
    }

    .Display1 {
        display: none;
    }

    .DisplayBtn {
        background-color: black;
        width: 60vw;
        height: 10vh;
        font-family: "Titillium Web";
        transition: 300ms;
        border: 1px solid rgb(0, 206, 221);
        margin: 0.05em;
        font-size: 2.4rem;
        text-align: center;
        color: white;
    }

    .PagesBtn {
        width: 40vw;
        height: 8vh;
        font-family: "Titillium Web";
        transition: 300ms;
        padding: 0.05em;
        font-size: 1.7rem;
        border: 1px solid black;
        color: black;
    }

    .Display1BResponsive {
        display: flex;
        width: 100%;
        height: 50%;
        margin-top: 0.5vh;
        background: none;
    }

    .Display1Responsive {
        display: flex;
        width: 172vw;
        height: 34vh;
        background: none;
    }
}


/* tablet: */
@media (orientation: portrait) and (min-height: 1024px) and (max-height: 1368px) {
    .ProjectTitle {
        font-size: 5rem;
        color: aqua;
        text-align: center;
    }

    .Display1Border {
        display: none;
    }

    .Display1 {
        display: none;
    }

    .DisplayBtn {
        background-color: black;
        width: 50vw;
        height: 10vh;
        font-family: "Titillium Web";
        transition: 300ms;
        border: 1px solid rgb(0, 206, 221);
        margin: 0.05em;
        font-size: 4rem;
        text-align: center;
        color: white;
    }

    .PagesBtn {
        width: 36vw;
        height: 8vh;
        font-family: "Titillium Web";
        transition: 300ms;
        padding: 0.05em;
        font-size: 3rem;
        border: 1px solid black;
        color: black;
    }

    .Display1BResponsive {
        display: flex;
        width: 100%;
        background: none;
        transform: scale(0.03);
    }

    .Display1Responsive {
        display: flex;
        width: 170vw;
        height: 34vh;
        background: none;
    }

}