.ContactBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 24vw;
    height: 24vw;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    font-family: "Titillium Web";
    background-color: aqua;
    margin-left: 16%;
}

.ContactContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 99.5%;
    height: 99.5%;
    grid-template-rows: 29% 29% 29%;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    background-color: black;
}

.ContactP {
    margin: 2vw;
    margin-left: 18%;
    font-size: 1.2vw;
    text-align: left;
    color: white;
}

.ContactSpan {
    color: Aqua;
}

.Link {
    text-decoration: none;
    color: white;
}

.Link:hover {
    text-decoration: none;
    color: rgb(193, 81, 216);
}




@media (min-width: 100px) and (max-width: 540px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 80vw;
        margin-left: 0%;
        margin-bottom: 35%;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.5%;
        height: 99.5%;
        background-color: black;
    }


    .ContactP {
        margin: 2em;
        font-size: 4.4vw;
        text-align: left;
        color: white;
        margin-left: 16%;
    }

}

/* Tablet */
@media (min-width: 540px) and (max-width: 1023px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 42vw;
        height: 42vw;
        margin-left: 0%;
        margin-bottom: 17vw;
        min-height: 350px;
        min-width: 350px;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.5%;
        height: 99.5%;
        background-color: black;
    }

    .ContactP {
        margin: 1em;
        font-size: max(2.5vw, 1.2rem);
        text-align: left;
        color: white;
        margin-left: 16%;
    }
}


@media (min-width: 1024px) and (max-width: 1240px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vw;
        max-height: 430px;
        max-width: 430px;
        margin-left: 0%;
        margin-bottom: 13vw;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.5%;
        height: 99.5%;
        background-color: black;
    }

    .ContactP {
        margin: 1em;
        font-size: 1.45rem;
        text-align: left;
        color: white;
        margin-left: 16%;
    }
}