.ContactBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    font-family: "Titillium Web";
    background-color: aqua;
    margin-left: 16%;
}

.ContactContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 99.6%;
    height: 99.6%;
    grid-template-rows: 29% 29% 29%;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    background-color: black;
}

.ContactP {
    margin: 2vw;
    margin-left: 19%;
    font-size: 1.2vw;
    text-align: left;
    color: white;
}

.ContactSpan {
    color: Aqua;
}

.Link {
    text-decoration: none;
    color: white;
}

.Link:hover {
    text-decoration: none;
    color: rgb(193, 81, 216);
}




@media (orientation: portrait) and (min-width: 280px) and (max-width: 1000px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 80vw;
        height: 80vw;
        margin-left: 0%;
        margin-top: 23vw;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.6%;
        height: 99.6%;
        background-color: black;
    }


    .ContactP {
        margin: 2em;
        font-size: 4.4vw;
        text-align: left;
        color: white;
        margin-left: 16%;
    }

}

/* Tablet */
@media (min-width: 540px) and (max-width: 1023px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 55vw;
        height: 55vw;
        margin-left: 0%;
        margin-top: 20vw;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.6%;
        height: 99.6%;
        background-color: black;
    }

    .ContactP {
        margin: 1em;
        font-size: 3vw;
        text-align: left;
        color: white;
        margin-left: 16%;
    }
}


@media (min-width: 1024px) and (max-width: 1900px) {
    .ContactBorder {
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vw;
        max-height: 500px;
        max-width: 500px;
        margin-left: 0%;
        margin-top: 12vw;
    }

    .ContactContainer {
        display: flex;
        justify-content: center;
        width: 99.6%;
        height: 99.6%;
        background-color: black;
    }

    .ContactP {
        margin: 1em;
        font-size: 1.6rem;
        text-align: left;
        color: white;
        margin-left: 16%;
    }
}