.Stack-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.5%;
    height: 42.5%;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    background-color: aqua;
    font-family: Titilium;
    margin-left: 25%;
}

.Stack-container {
    display: grid;
    justify-content: center;
    align-content: center;
    width: 99%;
    height: 99%;
    grid-template-columns: 29% 29% 29%;
    grid-template-rows: 29% 29% 29%;
    clip-path: polygon(0% 6%, 4% 0, 51% 0, 55% 3%, 97% 3%, 100% 6%, 100% 96%, 96% 100%, 21% 100%, 18% 97%, 4% 97%, 0 92%);
    background-color: BLACK;
}

.Logo-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: .7em;
    align-items: center;
    gap: 0.2vw
}

.Logo-Img {
    width: 75%;
    transition: 300ms;
}

.Stack-p {
    text-align: center;
    color: white;
    font-size: 0.7vw;
}

.Logo-Img:hover {
    scale: 1.1;
    transition: 300ms;
}

@media (orientation: portrait) and (min-width: 280px) and (max-width: 1000px) {
    .Stack-border {
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 22.5%;
        margin-left: 25%;
        margin-top: 30%;
    }

    .Stack-p {
        text-align: center;
        color: white;
        font-size: 1.7vw;
    }

    .Logo-Img {
        width: 60%;
        transition: 300ms;
    }

    .Logo-Container {
        margin-top: 0.1em;
    }

}

@media (orientation: portrait) and (min-width: 540px) and (max-height: 1368px) {
    .Stack-border {
        justify-content: center;
        align-items: center;
        width: 37%;
        height: 25%;
        margin-left: 31%;
        margin-top: 18%;
    }

    .Logo-Img {
        width: 60%;
        transition: 300ms;
    }

    .Stack-p {
        text-align: center;
        color: white;
        font-size: 1.7vw;
    }


    .Logo-Container {
        margin-top: 0.1em;
    }

}