.title-container {
    display: flex;
    justify-content: center;
}

.Main-Title {
    font-family: Oregano;
    font-weight: 100;
    font-size: 11rem;
    text-align: center;
    color: white;
    width: 50%;
}

.h1-Span {
    color: #009E6F;
}


.Arrow-Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Arrow {
    width: 5rem;
    height: 5rem;
}


.Projects {
    display: flex;
    justify-content: center;
    margin-top: 17rem;
    margin-left: 78px;
}