.Profile-Img {
    width: 60px;
    height: 60px;
    background-image: url(./Img/ProfileImage.jpg);
    border: 2px solid #009E6F;
    border-radius: 50rem;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    margin-top: 34px;
}

.Stack-Container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 5rem;
    margin-top: 90px;
    background-color: black;
    gap: 30px;
}

.Stack-Title {
    color: white;
    font-family: Open Sans;
    font-weight: 100;
    font-size: 1.40rem;
    background-color: black;
}

.Icon {
    width: 44px;
}

.Icon-Border {
    border-radius: 8px;
}