* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #000515;
}

@font-face {
    font-family: Oregano;
    src: url(/public/fonts/Oregano-Regular.ttf);
}

@font-face {
    font-family: Open Sans;
    src: url(/public/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

.header {
    width: 100%;
    z-index: 2;
    position: absolute;
}

.Main {
    width: 100%;
    z-index: 1;
    position: absolute;
    margin-top: 8.7%;
}

.Sidebar-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 5rem;
    height: 100%;
    background-color: black;
    z-index: 2;
    position: absolute;
}