* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5%;
    font-family: 'Open Sans', sans-serif;
}



.navbar ul li {
    display: inline-block;
}

.navbar ul li a:hover {
    border-bottom: 2.5px solid #009E6F;
    color: #009E6F;
}

.navbar ul li a {
    font-size: 1.5rem;
    font-weight: 100;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.nav-btn {
    background-color: #009E6F;
    width: 5.4rem;
    height: 2.4rem;
    border-radius: 9px;
    font-size: 1.65rem;
    color: white;
    font-family: Oregano;
    position: absolute;
    margin-left: 93%;
    transition: 300ms;
}

.nav-btn:hover {
    transition: 300ms;
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: Oregano;
}