* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5%;
    font-family: 'Open Sans', sans-serif;
}



.navbar ul li {
    display: inline-block;
}

.navbar ul li a:hover {
    border-bottom: 2.5px solid #009E6F;
    color: #009E6F;
}

.navbar ul li a {
    font-size: 1.7rem;
    font-weight: 100;
    text-decoration: none;
    color: white;
    margin: 20px;
}

.nav-btn {
    background-color: #009E6F;
    width: 6rem;
    height: 2.3rem;
    border-radius: 9px;
    font-size: 1.3rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    margin-left: 93%;
}